div{
    width: 100px;
    height: 100px;
    background-color: rgba(197, 57, 6, 0.768);
    animation-name: colorchange;
    position: relative;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse; /* reverse */
    animation-fill-mode: forwards; /* backwards*/   
    

}

#ease{
    animation-timing-function: ease;

}
#linear{
    animation-timing-function: linear;

}
#ease-in{
    animation-timing-function: ease-in;

}
#ease-out{
    animation-timing-function: ease-out;

}
@keyframes colorchange{
    
    0%{
        background-color: rgb(0, 225, 255);
        top: 0px;
        left: 0px;
    }

    25%{
        background-color: aqua;
        top: 0px;
        left: 200px;
    }
    50%{
        background-color: bisque;
        top: 200px;
        left: 200px;
    }
    75%{
        background-color: black;
        top: 200px;
        right: 0px;
    }
    100%{
        background-color: brown;
        top: 0px;
        left: 0px;
    }

}