/*body{
    color: rgb(224, 166, 4);
}

div{

    font-size: xx-large;
    color: black;
    text-align: center;
    
}
div::after{
    content: 'yoyo';
}

@media (min-width:700px) and (max-width:800px) {
    body{
        background-color: brown;

    }
    
    div::after{
        content: 'baby';
    }
}

@media (min-width:900px){
    body{

    background-color: yellow;

    }

    div::after{

        content: 'finally done';
    }
}
 */