/*universal selector*/
/* *{
    margin:0;
    padding:0;
    color: red;
    background-color: bisque;
    font-size: 20;
}*/

/*element*/
/*h1{
    color: red;
    background-color: bisque;
    font-size: 20;

}*/

/*selection list*/
/*.par,.par2,.par5{
    color: red;
    background-color: bisque;
    
    }

.hello
{
    
    font-size: 30;
    border: 2px dotted olive;
} */

body{
    background-color: bisque;
}


 /* des sel*/
 /*
main h1{
      font-size: 20;
      color: rgb(41, 97, 13);
} */

/* child sel*/
/*
h1>p{
    font-size: 10;
    color: rgb(72, 16, 184);
}*/
/*  adj sel
section + p {
   
    color: rgb(12, 72, 202);
    text-align: center;
    border: 5px dotted purple;
   
}
    */ 
    /* general sel
section ~ p{
    
    color: rgb(12, 72, 202);
    text-align: center;
    border: 5px dotted purple;
}*/

[target="_blank"]{
    color: pink;
    text-align: center;

}
[alt~="blank"]
{
    color: burlywood;
}

